body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.header {
  padding: 0 72px;
}

.menu {
  position: relative;
  line-height: 26px;
  font-weight: 700;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 16px 0;
  list-style: none;
}

.menu__item {
  width: 25%;
  text-align: left;
}

.menu__item--align-right {
  text-align: right;
}


.menu__link {
  color: #000000;
}

.menu__link:hover,
.menu__link:focus {
  color: #81b3d2;
}

.menu__link:active {
  color: rgba(0,0,0,0.3);
}

.menu__logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.promo {
  position: relative;
  min-height: 508px;
  padding-top: 76px;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -57px;
  background-size: cover;
  box-sizing: border-box;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/promo-mask.png");
  background-repeat: no-repeat;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

.advantages__header {
  display: flex;
  justify-content: center;
  min-height: 216px;
  padding-top: 59px;
  box-sizing: border-box;
}

.advantages__header-wrap {
  width: 530px;
  min-height: 110px;
  text-align: center;
}
 .advantages__title {
   margin: 0 0 27px 0;
   font-size: 21px;
   line-height: 26px;
 }

 .advantages__desc {
   margin: 0;
   line-height: 26px;
   font-weight: 400;
 }

 .advantages__row {
   display: flex;
 }

 .advantage {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   min-height: 256px;
   text-align: center;
   box-sizing: border-box;
 }

 .advantage__title {
   width: 151px;
   margin: 0;
   margin-bottom: 24px;
   font-weight: 700;
   font-size: 21px;
 }

 .advantage__number,
 .advantage__text {
   margin: 0;
   font-weight: 400;
 }

 .advantage__number {
   display: inline-block;
   margin-bottom: 21px;
 }

 .advantage--blue {
   padding: 47px 49px 60px 49px;
   color: #ffffff;
   background-color: #81b3d2;
 }

 .advantage__icon {
   position: relative;
   min-height: 330px;
   padding: 160px 49px 84px 49px;
 }

  .advantage__icon svg {
    position: absolute;
    fill: #81B3D2;
  }

 .advantage__icon--home svg {
   top: 59px;
   left: 162px;
 }

 .advantage__icon--food svg {
   top: 60px;
   left: 161px;
 }

 .advantage__icon--gift svg {
   top: 55px;
   left: 168px;
 }

 .advantage--gray {
   padding: 47px 60px 60px 60px;
   background-color: #eeeeee;
 }

 .advantage__img img {
   display: block;
 }

 .search {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 291px;
   padding-top: 48px;
   text-align: center;
   box-sizing: border-box;
 }

 .search__title {
   display:  inline-block;
   margin-bottom: 23px;
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
 }

 .search__text {
   margin: 0;
   line-height: 26px;
   font-weight: 400;
 }

 .search__btn {
   position: absolute;
   bottom: 0;
   left: 316px;
   width: 568px;
   min-height: 86px;
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   background-color: #766357;
 }

 .search__btn:hover,
 .search__btn:focus {
   background-color: #604e43;
 }

 .search__btn:active {
   background-color: #503e33;
   color: rgba(255, 255, 255, 0.3);
 }

 .search-form {
   width: 568px;
   margin: 0 auto;
   padding: 55px;
   box-sizing: border-box;
 }

 .search-form__row {
   position: relative;
   display: flex;
   margin-bottom: 29px
 }

 .search-form__title {
   display: inline-block;
   vertical-align: middle;
   width: 113px;
   line-height: 26px;
   font-weight: 700;

 }

 .search-form__field {
   width: 341px;
   height: 38px;
   padding: 14px;
   color: #000000;
   background-color: #f2f2f2;
   border: none;
   box-sizing: border-box;
 }

 .search-form__calendar {
   position: absolute;
   right: 10px;
   top: 8px;
   padding: 0;
   fill: rgba(0, 0, 0, 0.5);
   background-color: transparent;
 }

 .search-form__calendar:hover,
 .search-form__calendar:focus {
   fill: rgba(0, 0, 0, 1);
 }

 .search-form__calendar:active {
   fill: #81b3d2;
 }

 .search-form__col {
   /*display: inline-block;*/
 }

 .number {
   font-size: 0;
 }

 .number__btn,
 .number__field {
   display: inline-block;
   width: 38px;
   height: 38px;
   font-size: 14px;
   vertical-align: top;
   background-color: #f2f2f2;
 }

 .number__field {
  border: 0;
  padding: 0;
  text-align: center;
 }

 .map {
   height: 593px;
   background-image: url("../img/map.jpg");
   background-repeat: no-repeat;
 }

 .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 120px;
   margin-top: -120px;
   background-color: rgba(255, 255, 255, 0.9);
 }

 .footer__col {
   width: 400px;
   text-align: center;
 }

 .hashtag {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
 }

 .social__list {
   display: flex;
   justify-content: center;
   height: 48px;
   margin: 0;
   padding: 0;
   font-size: 0;
   list-style: none;
 }

 .social__item {
   margin-right: 6px;
 }

 .social__item:last-child {
   margin-right: 0;
 }

 .social__btn {
   display: inline-block;
   width: 46px;
   height: 48px;
   background-color: #81b3d2;
 }

 .social__btn:hover,
 .social__btn:focus  {
   background-color: #669ec0;
 }

 .social__btn:active {
   background-color: #5496bd;
 }

 .social__btn--tw {
   background-image: url("../img/twitter.svg");
   background-repeat: no-repeat;
   background-position: center;
 }

 .social__btn--fb {
   background-image: url("../img/facebook.svg");
   background-repeat: no-repeat;
   background-position: center;
 }

 .social__btn--yt {
   background-image: url("../img/youtube.svg");
   background-repeat: no-repeat;
   background-position: center;
 }

 .copyright {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .copyright span {
   margin-right: 8px;
 }

 .copyright__link:hover svg,
 .copyright__link:focus svg {
   fill: #81b3d2;
 }

 .copyright__link:active svg {
   fill: rgba(0, 0, 0, 0.3);
 }

 .filters {
   min-height: 217px;
   padding: 0 72px;
   background-image: url("../img/filter-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 -63px;

 }

 .filter-form {
   display: flex;
   color: #ffffff;
   font-weight: 400;

 }

 .filter-form legend {
   font-size: 16px;
   font-weight: 700;
 }

.filter-form__col {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.filter-form__btn {
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 5%;
}

.sorting {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  padding: 0 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting__col {
  display: flex;
  align-items: center;
}

.sorting__found {
  margin-right: 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting__item {
  margin-right: 33px;
}

.sorting__item:last-of-type {
  margin-right: 0;
}

.sorting__item:first-of-type {
  margin-right: 48px;
  font-size: 12px;
  line-height: 18px;
}

.sorting__link {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus {
  color: #81b3d2;
}

.sorting__link:active {
  color: rgba(0, 0, 0, 1);
  border-bottom: none;
}

.sorting__btn {
  margin-right: 13px;
  fill: rgba(0, 0, 0, 0.3);
}

.sorting__btn:last-of-type {
  margin-right: 0px;
}

.sorting__btn:hover,
.sorting__btn:focus {
  fill: rgba(0, 0, 0, 1);
}

.sorting__btn:active {
  fill: #81b3d2;
}

.hotel {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  padding: 0 72px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.hotel__col {
  display: flex;
}

.hotel__col-left {
  align-items: center;
}

.hotel__img img {
  display: block;
}

.hotel__info {
  min-height: 90px;
  margin-left: 30px;
}

.hotel__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.hotel__inner {
  display: flex;
  margin-bottom: 12px;
}

.hotel__accommodation {
  width: 110px;
  margin-right: 6px;
}

.hotel__price {
  width: 142px;
}

.hotel__buttons{
  display: flex;
}

.hotel__button {
  min-height: 27px;
  padding-top: 3px;
  box-sizing: border-box;
}

.hotel__button--blue {
  min-width: 110px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.hotel__button--blue:hover,
.hotel__button--blue:focus {
  background-color: #669ec0;
}

.hotel__button--blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel__button--brown {
  min-width: 142px;
  background-color: #766357;
}

.hotel__button--brown:hover,
.hotel__button--brown:focus {
  background-color: #604e43;
}

.hotel__button--brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel__col-right {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 90px;
}

.hotel__raiting {
  width: 110px;
  height: 27px;
  padding-top: 3px;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.footer__hotel-page {
  margin-top: 0;
}
